---
title: Home
description: The latest app to help you find new friends with common interests.
image: /images/21824.jpg
bottom_image: https://source.unsplash.com/S_VbdMTsdiA/2000x1322?a=.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">T-Eco-Evo</h1>
			<p class="subtext editable">Research Group for Theoretical Models in Eco-Evolutionary Dynamics.</p>
			<div class="cta button alt"><a href="#">Join Now</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Theoretical Models</h2>
				<p class="editable">Theoretical biology is a perhaps the driving engine of the process of understanding of the biological world.
					Analysing data, putting forth new testable hypothesis and readjusting our view of hte world is possible via passing data and observations through the rigour of theoretical models. Time and again the theoretical tools themselves need to be further developed and changed to keep pace with the basic sciences of mathematics and physics. While population genetics, adaptive dynamics and evolutionary game theory are utilised as per requirements, the group focuses on developing evolutionary games in both deterministic and stochastic systems.</p>
			</div>
			<div class="image">
				<img class="editable" src="{{ site.baseurl }}/images/Fig1.jpg" alt="Image cannot be displayed" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Eco-evolutionary Dynamics</h2>
				<p class="editable">Evolution proceeding at ecologicla timescales is a reality. Eco-evolutionary dynamics drives the maintenance of diversity, from chemical molecules to human societies. Our research focuses on the impact of ecological processes in intraspecific interactions (social dilemmas) and on the evolution of interspecies interactions. From antagonistic intereactiosn ins host-parasite systems (theoretical models, malaria, crops and their pathogens), predatory prey dynamics (in spiders), mutualistic interactions (theoretical models, legume rhizobia interactions, dynamics of genes within genomes). Pioneering life in novel environments (recent lava flows, oil spills) require a consortia of bacteria rather a single species. We complement our theoretical models of eco-evolutionary dynamcis with empirical results from experiments developed togehter with collaborators.</p>
			</div>
			<div class="image">
				<img class="editable" src="{{ site.baseurl }}/images/Fig1.jpg" alt="Screenshot" />
			</div>
		</div>
	</section>

	<!-- <section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Swipe and go</h2>
				<p class="editable">Frisco shows you cards with people who might be a good match for friendship. Swipe left to move to the next card or right to start talking.</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section> -->

	<!-- <section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Find your buddy today</h2>
				<p class="subtext editable">It's free, fun and an exciting way to meet new people.</p>
				<div class="cta button alt"><a href="#">Join Now</a></div>
			</div>
		</div>
	</section> -->
</div>
