    <!-- About Section -->
    <section id="members" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Group</h2>
                <p>Currently the group consists of three members,</p>
                <p><a href="https://github.com/gokhalechaitanya">Maria Bargues i Ribera</a> (Doctoral Student), <a href="https://github.com/gokhalechaitanya"> Chaitanya S. Gokhale </a> (Group Leader) and <a href="https://github.com/gokhalechaitanya">Vandana R. Venkataswaran</a> (Doctoral student)</p>
                <!-- <p>This theme features stock photos by <a href="http://gratisography.com/">Gratisography</a> along with a custom Google Maps skin courtesy of <a href="http://snazzymaps.com/">Snazzy Maps</a>.</p>
                <p>Grayscale includes full HTML, CSS, and custom JavaScript files along with LESS files for easy customization.</p> -->
            </div>
        </div>
    </section>
